@import '~@/assets/styles/constant/index.scss';
.wdispatcher_home {
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	color: #fff;
	i {
		display: inline-block;
	}
	.amap-ui-infowindow-close,
	.amap-ui-smp-ifwn-info-title {
		display: none;
		
	}
	.amap-ui-smp-ifwn-content-body {
		box-shadow: 0 0 0;
		padding: 0;
	}
	.amap-luopan, .amap-luopan-bg {
    background: url("../images/tool_icon/a33f94.png") 11px 16px no-repeat!important;
	}
	.amap-compass {
    width: 94px!important;
    background: url("../images/tool_icon/d1b1de.png") 7px 8px no-repeat!important;
}
	.amap-rotateLeft, .amap-rotateRight {
		cursor: pointer;
		background: url("../images/tool_icon/a3dafe.png") 23px 31px no-repeat!important;
	}
	.amap-rotateRight {
    right: 10px;
    transform: rotateY(180deg);
	}
	.point {
		background: url("../images/point.png") no-repeat;
		width: 14px;
		height: 10px;
	}
	.map_container {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		.amap-marker-label {
			color: red;
			border: none;
			background: #000;
			.info {
				color: #fff;
				padding: 2px 5px;
				&::after {
					position: absolute;
					display: inline-block;
					border-style: solid;
					border-width: 7px;
					border-color: #000 transparent transparent transparent;
					bottom: -14px;
					left: 50%;
					transform: translateX(-50%);
					content: "";
				}
			}
		}
		
	}
	// 地图样式重置
	.amap-ui-smp-ifwn-content-body {
		background: transparent;
	}
	.amap-ui-smp-ifwn-content-body,
	.amap-ui-smp-ifwn-info-title {
		border: none;
	}
	.amap-ui-smp-ifwn-def-tr-close {
		position: absolute;
		right: 0;
		top: 0;
	}
	i.equipment_icon {
		width: 12px;
		height: 12px;
		
		background-image: url("../images/icons8_equipment_task.png");
		background-color: transparent;
		vertical-align: middle;
		margin-left: 8px;
	}
		// 弹层
		.popup_layer {
			animation: ibfoboxAnimation 0.8s linear 1;
			transform-origin: 0% -50%;
			.container {
				position: relative;
				float: left;
				width: 100%;
			}
			.content {
				padding: 6px 8px;
				background: rgba(0, 0, 0, 0.8);
				float: left;
			}
			
			.amap-ui-smp-ifwn-combo-sharp {
				display: block;
				background: none;
				position: absolute;
				bottom: -7px;
				left: 0;
				&::after {
					content: "";
					position: absolute;
					bottom: -4px;
					left: 64px;
					width: 0;
					height: 0;
					border-width: 6px 6px 6px;
					border-style: solid;
					border-color: rgba(0, 0, 0, 0.8) transparent transparent   transparent;
					}
				}
		}	
	.warning_info,
	.grid_user_info {
		.content {
			width: calc(100% - 2px);
			
			h4 {
				img {
					width: 32px;
					height: 32px;
					border-radius: 50%;
					float: left;
					margin-right: 8px;
				}
			}
		}

		h4 {
			font-style: normal;
			border-bottom: 1px solid #A5AAB2;
			// padding-bottom: 6px;
			font-size: 12px;
			font-weight: normal;
			min-height: 16px;
			float: left;
			width: 100%;
		}
	}
	.grid_user_info {
		width: 168px;
		float: left;
		.content {
			width: calc(100% - 1px);
			border-radius: 4px;
		}
		h4 {
			font-style: normal;
			padding-bottom: 5px;
			font-size: 12px;
			font-weight: normal;
			min-height: 16px;
			float: left;
			width: 100%;
		 border: none;
			span.name {
				font-size: 12px;
				padding-bottom: 5px; 
				display: inline-block;
				text-align: center;
			}
		}
		span.gray {
			color: #ADB2C0;
		}
		p {
			padding-top: 10px;
		}
		.item {
		 
			color: #34A3FF;
			float: left;
			border-bottom: 1px solid #67696f;
			width: 100%;
			margin-bottom: 12px;
			padding: 5px 16px;
		 
			i {
				display: inline-block;
				width: 44px;
				height: 43px;
				background: url("../images/people.png") no-repeat;
				background-size: 100% 100%;
    		margin-left: 14px;
			}
			li {
				float: left;
				background: url("../images/home_detail_analyse_tc.png") left center no-repeat;
				background-size: 100% 24px;
				width: 24px;
				height: 43px;
				&:first-child {
					cursor: pointer;
				}
				&:last-child {
					float: right;
					background: url("../images/icons8-add_tc2x.png") left center no-repeat;
					background-size: 100% 24px;
				}
			}
		}
	}
	// 报警信息
	.warning_info {
		width: 258px;
		float: left;
		// line-height: 22px;
		.border {
			height: 220px;
			width: 1px;
			border-right: 1px solid #F93248;
			// position: absolute;
			// left: 0;
			float: left;
		}
		.content {
			padding-bottom: 0;
		}
		.time_list {
			float: left;
			width: 100%;
			margin-left: 5px;
			padding-top: 14px;
			color: #A5AAB2;
		}
		li {
			border-left: 1px dotted #F93248;
			padding-bottom: 15px;
			margin-top: -4px;
			&:first-child {
				padding-bottom: 5px;
			}
		.big_time {
			background: #F93248;
			color: #fff;
			font-size: 22px;
			width: 104px;
			text-align: center;
			height: 28px;
			line-height: 28px;
			// display: block;
			margin: 6px 0;
		  b {
				font-size: 12px;
				padding-left: 8px;
			}
		}
		.lh28 {
			line-height: 28px;
			display: inline-block;
			margin: 0 -15px;
 
		 
		}
			&:last-child {
				border: none;
			}
			span {
				font-family: digifacewide;
				color: #F93248;
				transform: scale(0.7, 1);
				display: inline-block;
				margin: 0 -2px 0 -5px;
			}
			i {
				background: #F93248;
				margin-left: -5px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin-right: 2px;
				display: inline-block;
			}
			sub {
				left: -2px;
				margin-right: -7px;
			}
		}
		h4 {
			font-weight: normal;
			span {
				color: #A5AAB2;
			}
		}
	}

	// 污染源
	.pollute_info {
		line-height: 20px;
		min-width: 260px;
		animation: opacity  0.8s linear 1;
		&.w350 {
			width: 350px;
		}
		.content {
			border-radius: 4px;
		}
		p {
			width: 100%;
			span {
				padding-right: 10px;
			}
			padding-left: 24px;
			&:nth-child(1) {
				background: url("../images/icons8_name.png") no-repeat left center;
			}
			&:nth-child(2) {
				background: url("../images/icons8_classification.png") no-repeat left center;
			}
			&:nth-child(3) {
				background: url("../images/icons8_addressgreen.png") no-repeat left center;
			}
		}
	}
	.amap-ui-infowindow-body,
	.amap-ui-smp-ifwn-info-content {
		color: #fff;
		min-width: auto;
		padding: 0;
	}
	
	// 底部
	.footer {
		width: 100%;
		height: 160px;
		position: absolute;
		bottom: 16px;
		padding: 0 18px;
		display: flex;
		z-index: 2;
		.item {
			flex: 1;
			background: #28386C;
			box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
			border-radius: 4px;
			float: left;
			margin-right: 16px;
			height: 100%;
			padding: 8px;
			h3 {
				font-size: 14px;
				color: #FFFFFF;
				line-height: 14px;
				font-weight: normal;
				width: 100%;
				margin-bottom: 17px;
				&::after {
					height: 12px;
					border-bottom: 1px dotted  rgba(255,255,255,0.40);
					content: "";
					display: inline-block;
					float: right;
					width: calc(100% - 90px);
				}
			}
			&:last-child {
				margin: 0;
			}
			&:nth-child(3) {
				h3::after {
					width: calc(100% - 148px);
				}
			}
		}
		.total_item {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
			height: 38px;
			// display: flex;
			.col {
				float: left;
				// flex: 1;
			}
		 
			&.warning i {
				background: url("../images/icons8-siren.png") no-repeat;
				background-size: 100% 100%;
			}
			i {
				background: url("../images/icons8-system_information.png") no-repeat;
				background-size: 100% 100%;
				width: 38px;
				height: 38px;
				display: inline-block;
				 vertical-align: top;
			}	
			p {
				width: 34px;
				display: inline-block;
				
				height: 38px;
				line-height: 19px;
				margin: 0 16px;
			}
			.values {
				font-size: 24px;
				display: inline-block;
				line-height: 38px;
				height: 38px;
				vertical-align: top;
				text-align: right; 
				.d-roll-list {
					display: block;
				}
				.d-roll-list .d-roll-item {
					background: url("../images/page_next.png") no-repeat;
					width: 22px;
					margin-right: 8px;
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

.left_top_control {
	position: absolute;
	left: 18px;
	top: 16px;
	z-index: 10;
}
.right_top_control {
	position: absolute;
	right: 18px;
	top: 16px;
	z-index: 10;
}

// 图标类
.amap-controlbar {
	right: 7px !important;
	top: 102px !important;
	transform: scale(0.25);
	// display: none;
	.amap-controlbar-zoom {
		display: none;
	}
}
.amap-pitchUp,
.amap-pitchDown {
	cursor: pointer;
}
.amap-ui-smp-ifwn-combo-sharp {
	display: none;
}
.map {
	width: 100%;
	height: 100%;
	background: #28386C;
}
.left_top_control i,
.right_top_control i {
	background-color: #28386C;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
	@include set_icon2;
	border-radius: 2px;
	margin-right: 10px;
}
// 网格员
.grid_user_icon {
	background-image: url("../images/tool_icon/icons8-police.png");
	&.active {
		background-image: url("../images/tool_icon/icons8-police2.png");
	}
}
// 站点
.site_icon {
	background-image: url("../images/tool_icon/map_position.png");
	cursor: no-drop;
}
.full_screen_icon {
	background-image: url("../images/tool_icon/map_expand.png");
}
.reduce_icon {
	background-image: url("../images/tool_icon/map_reduce.png");
}
// 污染源
.pollute_icon {
	background-image: url("../images/tool_icon/map_source.png");
	&.active {
		background-image: url("../images/tool_icon/map_source2.png");
	}
}
// 工具
.tool_icon {
	background-image: url("../images/tool_icon/map_tool.png");
	&.active {
		background-image: url("../images/tool_icon/map_tool2.png");
	}
}
.refresh_icon {
	background-image: url("../images/tool_icon/icons8-available_updates.png");
}
.satellite_icon {
	background-image: url("../images/tool_icon/map_change.png");
	&.active {
		background-image: url("../images/tool_icon/map_change2.png");
	}
}
.drop-down-maptool {
	width: 64px;
	height: 90px;
	background: #27366d;
	margin-left: 17px;
	position: relative;
	margin-top: 7px;
	&::before {
		content: "";
		position: absolute;
		top: -12px;
		right: 25px;
		width: 0;
		height: 0;
		border-width: 6px 6px 6px;
		border-style: solid;
		border-color: transparent  transparent #27366d transparent;
	}
	span {
		text-indent: 15px;
		cursor: pointer;
		float: left;
		color: #fff;
		width: 100%;
		height: 25px;
		line-height: 25px;
		text-align: center;
		margin-top: 5px;
		display: inline-block;
	}
	.map_ruler {
		background: url("../images/tool_icon/map-icon13.png") no-repeat 5px 3px;
		&.active {
			background: url("../images/tool_icon/map-icon131.png") no-repeat 5px 3px;
		}
	}
	.map_gesture {
		background: url("../images/tool_icon/map_hand.png") no-repeat;

		&.active {
			background: url("../images/tool_icon/map_hand2.png") no-repeat;
 
		}
	}
	.map_traffic {
		background: url("../images/tool_icon/map-icon12.png") no-repeat 5px 3px;
		&.active {
			background: url("../images/tool_icon/map-icon121.png") no-repeat 5px 3px;
		}
	}
}
.animation_dialog {
	.el-dialog {
		background: none;
	}
	.el-dialog__header {
		display: none;
	}
}
.animation_loading {
	background: url("../images/animation@2x.gif") no-repeat;
	background-size: 500px 320px;
	width: 500px;
	height: 320px;
}
// 详情弹层
// .detail_dialog {
// 	.el-dialog__header {
// 		display: none;
// 	}
// 	.el-dialog {
// 		margin: 0;
// 		// margin-top: 35% !important;
// 		background: none;
// 	}
// }

// 弹层
.el-dialog {
  border-radius: 8px;
  background: #28386c;
  box-shadow: none;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, - 50%);
  // margin: 0 !important;
}
.el-dialog__body {
	padding: 0;
}
.el-dialog__header {
  height: 48px;
  line-height: 48px;
	padding: 0 16px;
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
	border-radius: 6px 6px 0 0;
	.el-dialog__title {
		color: #fff;
		font-size: 14px;
	}
}
.el-dialog__headerbtn .el-dialog__close {
	font-size: 25px;
	line-height: 0;
	margin-right: -5px;
}
// 报警弹层创建
.warning_create {
	width: 168px;
	height: 72px;
	background: rgba(0,0,0,0.80);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	li {
		flex: 1;
		width: 24px;
		height: 36px;
		float: left;
		&:first-child {
			background: url("../images/icons8-add_tc2x.png") center center no-repeat;
			background-size: 100% 24px;
		}
		&:nth-child(2) {
			// background: url("../images/w.png") no-repeat;
			// background-size: 100% 100%;
			i {
				display: inline-block;
				position: absolute;
			}
			i:nth-child(1) {
				background: url("../images/2.png") no-repeat center center;
				background-size: 14px 10px;
				width: 72px;
				height: 32px;
			}
			i:nth-child(2),
			i:nth-child(3) {
				background: url("../images/level2.png") no-repeat;
				background-size: 100% 100%;
				width: 72px;
				height: 36px;
			}
			width: 72px;
			margin: 0 4px;
		}
		i:nth-child(2) {
			animation:scale 4.4s linear infinite;
			transform-origin: 50% 50%;
		}
		i:nth-child(3) {
			animation:scale 4.4s linear 2.2s infinite;
			transform-origin: 50% 50%;
		}
		&:nth-child(3) {
			background: url("../images/home_cloud_analyse_tc.png") center center no-repeat;
			background-size: 100% 24px;
		}
	}
}
.warning_create.popup_layer,
.grid_user_info.popup_layer {
	animation: ibfoboxAnimation 0.4s linear 1;
	transform-origin: 50% -150%;
}
// .amap-marker-content img[src$='level2.png'] {
	// 	animation:scale 4s linear infinite;
	// 	transform-origin: 50% 50%; 
	// }

	// .amap-marker-content img[src$='level3.png'] {
	// 	animation:scale 4s linear 2s infinite;
	// 	transform-origin: 50% 50%;
	// }
	// 网格员高亮动画
	.amap-marker[style*='z-index: 106'] {
		animation:scale2 1s linear;
		transform-origin: 7px 55% !important;
	}
	.amap-marker[style*='z-index: 102'] {
		pointer-events: none;
	}
	.amap-marker:nth-child(odd) .amap-marker-content img[src$='level2.png'] {
		animation:scale 4.4s linear infinite;
		transform-origin: 50% 50%;
	}
	// .amap-marker {
	// 	pointer-events: none;
	// }
	.amap-marker:nth-child(odd) .amap-marker-content img[src$='level3.png'] {
		animation:scale 4.4s linear 2.2s infinite;
		transform-origin: 50% 50%;
	}

	.amap-marker:nth-child(even) .amap-marker-content img[src$='level2.png'] {
		animation:scale 4s linear infinite;
		transform-origin: 50% 50%;
	}

	.amap-marker:nth-child(even) .amap-marker-content img[src$='level3.png'] {
		animation:scale 4s linear 2s infinite;
		transform-origin: 50% 50%;
	}

	.amap-marker:nth-child(4n) .amap-marker-content img[src$='level2.png'] {
		animation:scale 3.8s linear infinite;
		transform-origin: 50% 50%;
	}

	.amap-marker:nth-child(4n) .amap-marker-content img[src$='level3.png'] {
		animation:scale 3.8s linear 1.9s infinite;
		transform-origin: 50% 50%;
	}
	// 大头针无事件
	.amap-marker[style*='z-index: 107'] {
		pointer-events: none;
	}
	// 大头针跳动,详情网格员
	.amap-marker .amap-marker-content img[src$='pin.png'],
	.amap-marker[style*='z-index: 109']{
		animation:translateY linear 0.8s infinite;
		transform-origin: 50% 50%;
	}
	// 详情下面的大头针
	.detail .amap-marker .amap-marker-content img[src$='pin.png'] {
		animation:translateY2 linear 0.4s 1;
		transform-origin: 50% 50%;
	}
	// 事件反馈图片动效
	.detail .amap-marker[style*='z-index: 104']{
		animation:face_scale 1.5s linear 1;
		transform-origin: 50% 50%;
}
 
@keyframes face_scale {
	0% {
		transform: scale(0.2);
	}
	100% {
		transform: scale(1);
	}
}


// @keyframes face_scale {
 
// 	0% {
// 		transform: scale(0.5);
// 	}
// 	50% {
// 		transform: scale(1.5);
// 	}
// 	85% {
 
// 		transform: scale(1);
// 	}
// 	100% {
 
// 		transform: scale(0.5);
// 	}
// }

@keyframes scale2 {
 
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	85% {
		opacity: 0.6;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes scale {
	0% {
			transform: scale(0.2);
			opacity: 0;
	}
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
			transform: scale(1.5);
			opacity: 0;
	}
}
/*小旗帜升起动画*/
@keyframes ibfoboxAnimation {
	from {
			opacity: 0;
			transform: translate3d(0, 100%, 0) scale(0.4);
	}
	to {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale(1);
	}
}
@keyframes opacity {
	from {
			opacity: 0;
	}
	to {
			opacity: 1;
	}
}
// 大头针跳动
@keyframes translateY {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-12%);
	}
	100% {
		transform: translateY(0);
 
	}
}

@keyframes translateY2 {
	0% {
		transform: translateY(-32%);
	}
	100% {
		transform: translateY(0);
	}
}

.amap-info-contentContainer{
	float: left;
}

 
